* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif
}

.section-content {
    width: 75%
}

.section-one {
    background-color: #1f2937;
    padding: 16px 16px 96px;
    display: flex;
    justify-content: center
}

.header ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    gap: 16px;
    margin-bottom: 96px
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
    margin-right: auto
}

.hero {
    display: flex;
    gap: 32px
}

.hero-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px
}

.header-link,
.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb
}

.hero-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900
}

.hero-image-placeholder {
    width: 800px;
    height: 250px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center
}

button {
    background-color: #3882f6;
    border: 0;
    padding: 8px 24px;
    border-radius: 8px;
    color: #fff
}

.info-header {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    text-align: center;
    margin-bottom: 64px
}

.section-two {
    padding: 64px 64px 96px;
    display: flex;
    justify-content: center
}

.infos {
    display: flex;
    gap: 32px
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center
}

.info-square {
    width: 250px;
    height: 250px;
    border: 3px solid #3882f6;
    border-radius: 16px
}

.info-text {
    text-align: center
}

.section-three {
    background-color: #e5e7eb;
    padding: 96px;
    display: flex;
    justify-content: center
}

.quote-content {
    display: flex;
    flex-direction: column
}

.quote {
    font-size: 36px;
    font-weight: 200;
    font-style: italic;
    color: #1f2937
}

.quote-author {
    margin-left: auto
}

.cta,
.section-four {
    display: flex;
    justify-content: center;
    padding: 64px
}

.cta {
    width: 100%;
    background-color: #3882f6;
    border-radius: 16px;
    padding: 64px 96px;
    justify-content: space-between
}

.cta-text {
    font-size: 18px;
    font-weight: 700
}

.cta-secondary-text,
.cta-text {
    color: #fff
}

.cta button {
    border: 2px solid #fff
}

.section-five {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: #1f2937;
    color: #fff
}